@import "tailwindcss";

body {
  font-family: "Bruno Ace", sans-serif;
}

.menuTextColor {
  color: #4e52fb;
}

.get-now-btn {
  padding: 6px;
  background: linear-gradient(180deg, #b3eff7 0%, #5718f2 100%);
  border-bottom: 2px solid #9c43ca;
  box-shadow: 2px 2px 21.1px #6b519d;
  border-radius: 4px;
  color: #ebecff;
  cursor: pointer;
}

.custom-range-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 48px; /* Adjust size as needed */
  height: 48px; /* Adjust size as needed */
  background-image: url("../src/assets/slider.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-top: -20px; /* Adjust to vertically center the thumb on the track */
  border-radius: 50%; /* If the image is square, make it round */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); /* Add some shadow for depth */
}

.custom-range-thumb::-moz-range-thumb {
  width: 48px; /* Adjust size as needed */
  height: 48px; /* Adjust size as needed */
  background-image: url("../src/assets/slider.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: none; /* Remove default border */
  border-radius: 50%; /* If the image is square, make it round */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Optional: styling the track */
.custom-range-thumb::-webkit-slider-runnable-track {
  height: 8px; /* Tailwinds h-2 */
  background: #4a5568; /* Tailwind's bg-slate-600 */
  border-radius: 9999px; /* Rounded-lg */
}

.custom-range-thumb::-moz-range-track {
  height: 8px;
  background: #4a5568;
  border-radius: 9999px;
}

